extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Andrii Kodola

        p.lead.text-light
          | Pretty soon a JavaScript Developer.

        .portfolio-bio
          p
            | Passinated learner of Full Stack JavaScript package. 
            | Creator of several CAD tool packages for different engineering fields. It isn't software development in a strict sense, but  to do that person should have creativity and logical thinking, as well as the ability to understand new concepts.
            | Partially applied several other courses of software development in the past. So I own a little wider knowledge field then expected from Full Stack JS course.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JS(ES6)
          li HTML5
          li CSS
          li jQuery
          li Node.js
          li Express
          li AJAX
          li Pug
          li Git
          li VS Code
          li Atom
          li GitHub
        h6 Contact Info

        ul
          li +420 705 302 885
          li ankodola@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/andrii-kodola-93802a59/') LinkedIn
        a.button.expanded(href='https://github.com/AndriiKodola') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  