extends layout

block content
    div.error-container
        h1.error-descr= error.message
        a(href='/') â†Back to main page.
        h3.error-status= `By the way, status is ${error.status}.`
        pre.error-stack-trace= error.stack
